$section-spacing: 1.5rem;
.details {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__property {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__films {
    margin-top: $section-spacing;
  }

  &__films-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__films-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
