<div class="details">
  <h2 class="details__header">
    <button (click)="goBack()" mat-icon-button aria-label="back button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    {{ character?.name }}
  </h2>
  <mat-card>
    <section class="details__properties">
      <app-character-property
        class="details__property"
        [property]="{ label: 'height', value: character?.height }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'mass', value: character?.mass }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'hair color', value: character?.hair_color }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'skin color', value: character?.skin_color }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'eye color', value: character?.eye_color }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'birth year', value: character?.birth_year }"
      ></app-character-property>
      <app-character-property
        class="details__property"
        [property]="{ label: 'gender', value: character?.gender }"
      ></app-character-property>
    </section>
  </mat-card>
  <section class="details__films">
    <h2>films</h2>
    <div class="details__films-spinner" *ngIf="isFilmsLoading; else filmsList">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #filmsList>
      <div class="details__films-list">
        <ng-container *ngFor="let film of films">
          <app-film [film]="film"></app-film>
        </ng-container>
      </div>
    </ng-template>
  </section>
</div>
