<div class="list">
  <header class="list__header">
    <h2>character list</h2>
    <h3>count {{ count }}</h3>
  </header>
  <div class="list__content">
    <div class="list__content">
      <ng-container *ngIf="isLoading; else characterList">
        <div role="status" class="list__spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <ng-template #characterList>
        <app-table
          [columns]="columnsDef"
          (selectRow)="selectCharacter($event)"
          [data]="characters"
        ></app-table>
      </ng-template>
    </div>
    <div class="list__pagination" *ngIf="count">
      <app-pagination
        (selectPage)="getCharacters($event)"
        [count]="count"
        [currentPage]="currentPage"
        [pageSize]="pageSize"
      ></app-pagination>
    </div>
  </div>
</div>
